<h1> Autor </h1>

<picture>
  <source	media="(min-width: 650px)" srcset="images/autor.png">
  <source media="(min-width: 465px)" srcset="images/autor.png">
  <img  src="images/autor.png" alt="autor">
</picture>

<h2> <%= autor %></h2>

<a href="/">Volver </a>
