<!--En esta versión se borra la estructura htlm, ya que lo contiene layout.ejs-->

<form method="get" action="/quizes/answer">
  <p>Preguntas: <%= pregunta %></p>
  <input type="text" name="respuesta" value="Responda quí"/>
  <input type="submit" value="Enviar">
</form>
